<div *ngFor="let stop of stopArray">
  <p>{{stop.name}}</p>
  <ul>
    <li *ngFor="let route of stop.patterns">
      <p>{{route.name}}</p>
    </li>
  </ul>
</div>

<p>
  {{printThis}}
</p>

<div class="card-deck">
  <div class="card" *ngFor="let media of mediaArray">
    <img class="card-img-top" [src]="mediaService.mediaUrl + media.thumbnail" [alt]="media.title">
    <div class="card-body">
      <h5 class="card-title">{{media.title}}</h5>
      <p class="card-text">{{media.description}}</p>
    </div>
  </div>
</div>
